<footer id="footer">
  <div class="footer_content">
    <div class="footer_top">
      <div class="container">
        <div class="footer_top_content">
          <nav class="menu">
            <ul class="menu_list">
              <li class="menu_item">
                <a class="menu_link" href="index.html#about_us">Про нас</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="index.html#methods">наші методи</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="index.html#welcome"
                  >вступити до лав</a
                >
              </li>
            </ul>
          </nav>
          <div class="socila_links">
            <a href="#" class="link">
              <img src="./image/link_1.svg" alt="facebbok" />
            </a>
            <a href="#" class="link">
              <img src="./image/link_2.svg" alt="youtube" />
            </a>
            <a href="#" class="link">
              <img src="./image/link_3.svg" alt="twitter" />
            </a>
            <a href="#" class="link">
              <img src="./image/link_4.svg" alt="telegram" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="footer_bottom">
        <p class="copyright">Copyright © 2024 All Rights Reserved</p>
        <a target="_blank" href="https://improvs.com/" class="author">
          <img src="./image/author.svg" alt="author" />
        </a>
      </div>
    </div>
  </div>
</footer>
