<header id="header">
  <div class="container">
    <div class="header_content">
      <a href="index.html" class="logo">
        <img src="./image/logo.svg" alt="logo">
      </a>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a class="menu_link" href="index.html#about_us">Про нас</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="index.html#methods">наші методи</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="index.html#welcome">вступити до лав</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="index.html#news">новини</a>
          </li>
        </ul>
        <div class="header_img">
          <img src="./image/header_img.webp" alt="Ukraine">
        </div>
      </nav>
      <div class="burger_menu">
        <span></span>
      </div>
    </div>
  </div>
</header>
